
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 125px 1fr 125px;
    margin: 0px 325px 0px 325px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lora', serif;
    background-color: #f1f1f1;
    background-image: url(./img/gaaaavioes.webp);
    background-size: cover;
    background-repeat: no-repeat; 
}

header {
    display: grid;
}

h1 {
    display: grid;
    place-items: center;
    place-content: center;
    color: black;
    font-size: 1.7em;
}

p+p {
    color: red;
}

main {
    display: grid;
    grid-template-rows: 4fr 2fr;
    row-gap: 10px;
}

.faixa__principal {
    display: grid;
    grid-template-areas:
        "principal secundaria"
        "principal secundaria";
    gap: 10px;
    grid-template-columns: 7fr 6fr;

}
.imglateral *:hover{
    transform: scale(1.1);
}
.img__principal {
    grid-area: principal;
    background-image: url(./img/back.jpg);
    background-size: cover;
    display: grid;
    place-items: end start;
}

.faixa__informacoes {
    height: 2.3em;
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 1fr;
    opacity: 0;
    transition-duration: .3s;
}

.faixa__informacoes:hover {
    opacity: 1;
}

.informacoes {
    background-color: rgb(16, 35, 51, 0.8);
    display: grid;
    justify-content: center;
    align-items: center;
}

.informacoes p {
    color: white;
    opacity: 1;
    font-size: 0.9em;
    opacity: 1;
}

.comprar {
    background-color: maroon;
    display: grid;
    place-items: center;
    align-items: center;
}

.comprar a {
    display: grid;
    place-items: center;
    align-items: center;
}

img[alt~="botao"] {
    height: 2em;
    width: 2em;
}

.img__secundaria {
    grid-area: secundaria;
    display: grid;
    grid-template-areas:
        "img1 img2"
        "img3 img4";
    column-gap: 10px;
    row-gap: 10px;

}
.img__principal:hover{
    transform: scale(1.1);
}
.img1 {
    background-image: url(./img/bandeira.jfif);
    background-size: cover;
    grid-area: img1;

}
.img1:hover{
    transform: scale(1.1);
}

.img2 {
    background-image: url(./img/corinthians\ masculino.webp);
    background-size: cover;
    grid-area: img2;

}
.img2:hover{
    transform: scale(1.1);
}

.img3 {
    background-image: url(./img/feminino.jpg);
    background-size: cover;
    grid-area: img3;
}
.img3:hover{
    transform: scale(1.1);
}
.img4 {
    background-image: url(./img/gavioes.jpg);
    background-size: cover;
    grid-area: img4;
}
.img4:hover{
    transform: scale(1.1);
}

.faixa__secundaria {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 2fr 2fr 3fr;
}

.img5 {
    background-image: url(./img/neo.jpg);
    background-size: cover;
}
.img5:hover{
    transform: scale(1.1);
}

.img6 {
    background-image: url(./img/socrates.jpg);
    background-size: cover;
}
.img6:hover{
    transform: scale(1.1);
}

.img7 {
    background-image: url(./img/taças.jpg);
    background-size: cover;
}
.img6:hover{
    transform: scale(1.1);
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver__mais {
    border-radius: 50px;
    background-color: black;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
}

.ver__mais:hover{
    background-color:black;
    border-style: solid;
    border-color: #102333;
    transform: scale(1.1);
}

.ver__mais * {
    text-decoration: none;
    color: white;
}

@keyframes